/* Footer's css */
footer {
	margin: 0 -5vw;
	background-color: #f5f5f5;
}

.footer-content {
	margin: 5rem 5vw 0 5vw;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-content section {
	margin: 1rem 0;
}

.footer-content section:first-child img {
	display: block;
	margin-right: 0.25rem;
}
.footer-content h2 {
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
	color: #303030;
}
.footer-content a {
	display: inline-block;
	margin-bottom: 0.5rem;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.75rem;
	color: #6b7280;
}

/* Media query  */
@media screen and (min-width: 768px) {
	.footer-content {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 5rem;
	}
	.footer-content .footer-logo {
		flex-basis: 25%;
		align-items: center;
	}
	.footer-content .Links {
		display: flex;
		flex-basis: 50%;
		gap: 5rem;
	}
	.footer-content .other-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.other-links ul {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
}

/* For tablet screens only*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.footer-content .other-links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
