/* Navigation bar css */

.navbar i {
	font-size: 1rem;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: white;
	padding: 0 5vw;
}
.navbar ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar li:last-child {
	display: flex;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.navbar li:last-child button {
		display: block;
		font-size: 15px;
		font-weight: 500;
		line-height: 22.5px;
		text-align: center;
		margin-right: 1rem;
	}
}

/* Search bar */
.navbar li:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border: 1px solid #f3f4f6;
	border-radius: 999px;
	border: 1px solid #303030;
	padding: 10px;
	width: clamp(8rem, 40vw, 30rem);
}
.navbar li:nth-child(2) input {
	border-radius: 999px;
	width: 100%;
	height: 100%;
	padding-left: 8px;
	font-size: 16px;
}
.navbar li:nth-child(2) i {
	margin-right: 1vw;
}

/* User icon div */
.navbar ul:last-child div {
	display: inline-block;
	border: 1px solid black;
	border-radius: 999px;
	padding: 0.3rem 0.4rem;
	background-color: white;
}
.navbar ul:last-child div {
	cursor: pointer;
}
.navbar ul:last-child div:hover {
	background-color: #d6d6d6;
}
.navbar ul:last-child div i:first-child {
	margin-right: 6px;
	margin-left: 2px;
}
.navbar ul:last-child div i:last-child {
	border: 1px solid black;
	border-radius: 50%;
	padding: 4px 4px;
}
