.section-5 {
	margin: 2rem 0;
}
.section-5 img {
	display: block;
	width: 100%;
	border-radius: 5px;
}
.section-5 img:hover {
	background-size: 10%;
}
.section-5 section {
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	padding: 1rem;
	margin: 1rem 0;
	background-color: whitesmoke;
	padding-top: 2rem;
}
.section-5 section:hover {
	transform: scale(1.1);
}
.section-5 section h2 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.7rem;
}
.section-5 section p {
	font-size: 1rem;
	font-weight: 500;
	margin: 1rem 0;
	line-height: 1.5rem;
	color: #6b7280;
}

@media screen and (min-width: 768px) {
	.section-5 {
		display: flex;
		flex-wrap: nowrap;
		flex-flow: row-reverse;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}
	.section-5 div {
		flex-basis: 70%;
		height: 100%;
		z-index: -1;
	}
	.section-5 h2,
	p {
		font-family: Arial, Helvetica, sans-serif;
	}
	.section-5 img {
		height: 100%;
		width: 100%;
	}
	.section-5 section {
		position: absolute;
		right: 55vw;
		z-index: 1;
		padding-top: 2.5rem;
		padding-bottom: 1.2rem;
	}
}
